*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito, Helvetica, sans-serif,Times, serif;
}

body{
  background-color: whitesmoke;
  width: 100%
  /* color: whitesmoke; */
}
#root{
  width: inherit;
}
header{
position: sticky;
top:0;
z-index: 2;
}
.header-logo{
  color: whitesmoke;
  font-size: 24px;
}
.no-style{
  text-decoration: none;
  color: whitesmoke;
}
.menu{
  display: none;
}
.header-nav{
  display:flex;
  justify-content:space-between;
  align-items:start;
  gap:20vw;
  height:17vh;
  padding:5vh;
  background-color: #031640;
}
li{
  list-style: none;
}

.nav-bar ul{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:48px;
  flex-grow: 2;
  color:aliceblue;
}

.nav-bar ul li{
  font-size: 20px;
}

.modal{
  position: absolute;
  border: 2px solid #000;
  background-color: black;
  box-shadow: 2px solid black;
  height: 100%;
  width: 100%;
  margin: auto;
  /* padding: 2%; */
  color: white;
}
.modal-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  height: 100%;
  gap:10%;
  margin-top: 12%;
}
.image-carousel{
  width: 100%;
  margin: auto;
  height: 70vh;

}
.highlights{
  color: #6A6A6A;
  width: 100%;
  /* margin-top: 2vh; */
  line-height: 24px;
  /* box-shadow: 0 0 10px #6A6A6A; */
  padding: 0 2vw;
  padding-top: 5vh;
}

.highlights h3{
  color: #031640;
}
.company-details{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 2vh 2vw;
}

.details{
  flex: 1;
  min-width: 350px;
}
.details p {
  line-height: 32px;
}

.company-building{
  /* height: auto; */
  max-width: 600px;
  width: 100%;
  min-width: 350px;
  height: 60vh;
  position: sticky;
  /* top: 17vh; */
  flex: 1;
  /* height: auto; */
}


p{
  text-align: justify;
}

h3{
  position: sticky;
  top: 17vh;
}

.contact-image{
  width: 100%;
  height: 50vh;
  position: relative;
  color: whitesmoke;
  background: url('./assets/contactimage.png');
  object-fit: contain;
  display: flex;
  align-items: center;
  padding: 0 4vw;
}
.contact-image img{
  width: inherit;
  height: inherit;
}
.contact-heading h1{
  font-size: 32px;
}

.contact-info{
  display: flex;
  justify-content: center;
  gap:30px;
  flex-wrap: wrap;
}

.contact-form{
  flex: 1;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2vh 2vw;
  min-width: 350px;
}

.contact-details{
  flex: 1;
  /* border: 2px solid black; */
  min-width: 350px;
  
  /* justify-content: center; */
  
}
.contact-sub{
  display: flex;
  flex-direction: column;
  gap:5vh;
  align-items: center;
  padding: 2vh 1vw;
}
.contact-info h1,.contact-info h2 ,.contact-info h3{
  color: #031640;
}
.contact-sub p{
  width: 60%;
  color: #6A6A6A;
}
.form-element{
  display: flex;
  justify-content: flex-start;
  padding: 1vh 2vw;
  gap: 2vw;
  align-items: center;
}
.form-element label{
  min-width: 120px;
}
.form-element input{
  flex-grow: 1;
  padding: 1vh 2vw;
  border: 1px solid blue;
  /* width: 70%; */
  border-radius: 3px;
 
}
.form-element textarea{
  flex-grow: 1;
  padding: 1vh 2vw;
  border: 1px solid blue;
  min-height: 20vh;
  border-radius: 3px;
}
.submit-button{
  padding: 2vh 2vw;
  border-radius: 5px;
  background-color: #031640;
  color: whitesmoke;
  border: transparent;
  width: 150px;
  /* justify-self: center; */
  margin-left: 40%;

}
footer{
  background-color: rgb(3,22,64);
  min-height: 30vh;
  color: whitesmoke;
  width: 100%;
  padding: 3vh 1vw;
}

.footer-section{
  display: flex;
  flex-wrap: wrap;
  padding: 3vh 2vw;
  gap:5vh;
}

footer  h1,footer h2,footer h3{
  color: whitesmoke;
}
.content{
  flex:1;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2vw;
}

.social{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:2vw;
}
.content > ul{
  display: flex;
  flex-direction: column;
  gap:4vh;
}
.content > ul > li:hover{
  color: yellow;
  cursor: pointer;

}
footer p {
  font-size: 14px;
  width: 60%;
  line-height: 24px;
}

.copyright{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:5vh;
  margin-top: 2vh;
}
.copyright > div{
  min-width: 350px;
  font-size: medium;
}
.copyright a{
  text-decoration: none;
  color: whitesmoke;
}
.copyright a:hover{
  color: yellow;
}
@media (max-width:800px) {
  .nav-bar{
    display: none;
  }
  .menu{
    display: block;
  }
  .content{
    align-items: flex-start;

  }
}

@media (max-width: 500px) {
  .copyright{
    justify-content: center;
  }
  .contact-sub{
    align-items:flex-start ;
  }
}

